<div>
    <div>
        <h2>Login</h2>
    </div>
    <div>
        <form id="loginForm">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Sign in</button>
        </form>
        <br>
        <button id="sign-up">Don't have an account?, register by clicking here</button>

        <p id="loginError" style="display: none;">Invalid credentials</p>
        <div>
        </div>
    </div>
</div>